<% if @company.lock == true %>
	<div align="center" style="position: absolute; left: 30%; top: 10%;">
		<h1>You have not paid this months subscription.<br>If you have paid this subscription please contact support.</h1>
	</div>
<% else %>
<div id="company-actions">
	<ul id="company-action-menu">
	<li id="company-list-action">[</li>
		<li id="company-list-action"><%= link_to "Company users", mycompany_users_path, id: "company-action" %></li>
		<li id="company-list-action"> | </li>
		<li id="company-list-action"><a href="#" id="company-action">Manage users</a></li>
	<li id="company-list-action">]</li>
	</ul>
</div>
<% @company.expense.each do |e| %>
<div id="expense">
	<div id="expense-image">
		<img src="https://i.gyazo.com/3a83181b6b5123bb9cae14cbbca9cdd1.png">
	</div>
	<div id="expense-title">
		<p><%= e.name %></p>
	</div>
	<div id="expense-description">
	  <p><%= e.description %></p>
	</div>
	<div id="expense-amount">
	   <p><%= e.amount %></p>
	</div>
	<div id="expense-user">
	  <p><%= "#{e.user.first.first_name.capitalize} #{e.user.first.last_name.capitalize} " %></p>
	</div>

	<div id="expense-status">
  <% if e.status == "Confirmed" %>
    <p>Status: <i style="color:yellow;"><%= "#{e.status}" %></i></p>
  <% elsif e.status == "Refused" %>
     <p>Status: <i style="color:red;"><%= "#{e.status}" %></i></p>
  <% elsif e.status == "Reimbursed" || e.status == "Personal" %>
    <p>Status: <i style="color:green;"><%= "#{e.status}" %></i></p>
  <% else %>
    <p>Status: <i style="color:blue;"><%= "#{e.status}" %></i></p>
  <% end %>
	  <%= link_to "Change status", expense_edit_path(e) %>
	</div>
</div>
<% end %>
<% end %>