<div class="nav-container"></div>
  <div class="header">
    <p id="salary"> Remaining Salary: <%= calculate_salary %></p>
    <%= image_tag(current_user.picture, class: "profile-img") if user_signed_in? && current_user.picture? %>
    <ul class="profile-drop">
      <li><%= link_to "Personal", root_path, id: "profilelist-item" %></li>
      <li><%= link_to "Create expense", redirect_expenseselect_path, id: "profilelist-item" %></li>
<% if user_signed_in? && current_user.company_admin? %>
  <li id="profilelist-item"><p id="profilelist-item">Company</p>
      <%= form_tag('/mycompany', :method=>:get) do %>
      <%= select_tag "Company", options_from_collection_for_select(current_user.comp, "id",   "name", params[:id]), class: "company-list-select" %>
    <br>
      <%= submit_tag "Search", class: "company-search" %>
  </li>
<% end %>
<% end %>
      <li><%= link_to "Settings", users_settings_path, id: "profilelist-item" %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete, id: "profilelist-item" %></li>
    </ul>
    <div>
      <h2 id="title"><%= link_to "StormTracker", root_path, id: "title" %></h2>
    </div>
  </div>
