<a href="#" id="create-expense" onclick="showExpenseCreate()">+</a>
<br>
<% @user_expense.each do |e| %>
<div id="expense">
  <div id="expense-image">
    <img src="https://i.gyazo.com/3a83181b6b5123bb9cae14cbbca9cdd1.png">
  </div>
  <div id="expense-title">
    <p><%= e.name.capitalize %></p>
  </div>
  <div id="expense-description">
    <p><%= e.description %></p>
  </div>
  <div id="expense-amount">
     <p><%= e.amount %></p>
  </div>
  <div id="expense-user">
    <p><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></p>
  </div><br>
  <div id="expense-status">
  <% if e.status == "Confirmed" %>
    <p>Status: <i style="color:yellow;"><%= "#{e.status}" %></i></p>
  <% elsif e.status == "Refused" %>
     <p>Status: <i style="color:red;"><%= "#{e.status}" %></i></p>
  <% elsif e.status == "Reimbursed" || e.status == "Personal" %>
    <p>Status: <i style="color:green;"><%= "#{e.status}" %></i></p>
  <% else %>
    <p>Status: <i style="color:blue;"><%= "#{e.status}" %></i></p>
  <% end %>
  </div>
</div>
<% end %>

<div id="expense-dropdown">
<%= form_for(@expense, as: @expense, url: expense_create_path(@expense), html: { method: :post }) do |f| %>

  <div class="field">
    <%= f.label "Expense name", id: "expense-label" %><br />
    <%= f.text_field :name, autofocus: true, id: "expense-textbox" %>
  </div>

  <div class="field">
    <%= f.label :amount, id: "expense-label" %><br />
    <%= f.text_field :amount, id: "expense-textbox" %>
  </div>

  <div class="field">
    <%= f.label :description, id: "expense-label" %><br />
    <%= f.text_area :description, id: "expense-textbox" %>
  </div>

  <div class="field">
    <%= f.label :picture, id: "expense-label" %><br />
    <%= f.text_field :picture, id: "expense-textbox" %>
  </div>
<% if current_user.company.count > 0 %>
  <div class="field">
    <div class="tooltip"><%= f.label :company?, id: "expense-label" %>
      <span class="tooltiptext">Is this expense for  your company?</span>
    </div>
    <%= f.check_box :company?, id: "expense-checkbox" %>
  </div>
<% else %>
  <div class="field">
    <div class="tooltip"><%= f.label :company?, id: "expense-label" %>
      <span class="tooltiptext">Is this expense for  your company?</span>
    </div>
    <%= f.check_box :company?, id: "expense-checkbox", disabled: :true %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit "Create expense" %>
  </div>
<% end %>
</div>