<h2 id="expense-title-header">This months expenses</h2>
  <div class="expense-container">
    <div id="expense-header">
      <div id="exp-id-header">ID</div>
      <div id="exp-name-header">Title</div>
      <div id="exp-desc-header">Description</div>
      <div id="exp-status-header">Status</div>
    </div>
<% @user_expense.each do |e| %>
    <div id="expense">
      <div id="exp-id"><%= link_to e.id, root_path %></div>
      <div id="exp-name"><%= link_to e.name, root_path %></div>
      <div id="exp-desc"><%= link_to e.description, root_path %></div>
      <div id="exp-status">
        <% if e.status == "Confirmed" %>
          status: <i id="exp-confirmed"><%= link_to "#{e.status}", root_path %></i>
        <% elsif e.status == "Refused" %>
          Status: <i id="exp-refused"><%= link_to "#{e.status}", root_path %></i>
        <% elsif e.status == "Reimbursed" || e.status == "Personal" %>
          Status: <i id="exp-reimbursed-personal"><%= link_to "#{e.status}", root_path %></i>
        <% else %>
          Status: <i id="exp-other"><%= link_to "#{e.status}", root_path %></i>
        <% end %>
      </div>
<% end %>
      <% if @user_expense.count <= 0 || nil %>
      <h2 id="expense-title-header" style="font-size: 1.4em;">You have no expenses!</h2>

      <% end %>
    </div>
  </div>
