<h2 id="expense-title-header">This months expenses</h2>
  <div class="expense-container">
    <div id="expense-header">
      <div id="exp-id-header">ID</div>
      <div id="exp-name-header">Title</div>
      <div id="exp-desc-header">Description</div>
      <div id="exp-status-header">Status</div>
    </div>
<% @user_expense.each do |e| %>
    <div id="expense">
      <div id="exp-id"><%= e.id %></div>
      <div id="exp-name"><%= e.name %></div>
      <div id="exp-desc"><%= e.description %></div>
      <div id="exp-status">
        <% if e.status == "Confirmed" %>
          status: <i style="color:yellow;"><%= "#{e.status}" %></i>
        <% elsif e.status == "Refused" %>
          Status: <i style="color:red;"><%= "#{e.status}" %></i>
        <% elsif e.status == "Reimbursed" || e.status == "Personal" %>
          Status: <i style="color:green;"><%= "#{e.status}" %></i>
        <% else %>
          Status: <i style="color:blue;"><%= "#{e.status}" %></i>
        <% end %>
      </div>
<% end %>
      <% if @user_expense.count <= 0 || nil %>
      <h2 id="expense-title-header" style="font-size: 1.4em;">You have no expenses!</h2>

      <% end %>
    </div>
  </div>
